.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.navItems > ul{
    display: flex;
}

.navItems > ul > li{
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    font-size: 23px;
}

.res-card{
    
    padding: 10px;
    height: 390px;
    width: 240px;
    margin: 12px;
    color: black;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.resto-container{
    display: flex;
    flex-wrap: wrap;
}

.search{
    padding: 10px;
}

.res-logo{
    width: 100%;
}

.filter_button{
    padding: 3px;
    margin: 10px;
}

.filter_button:hover{
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    height: 390px;
    width: 240px;
    margin: 12px;
    background-color: #f0f0f0;
}

.login{
    padding: 5px;
    margin: 10px;
    }

.filter{
    display: flex;
}

.avgRating{
    color: rgb(8, 87, 8);
    text-decoration-style: solid;
}

.count{
    padding: 3px;
    
}

.gitimage{
    width: 100px;
    border: 50%;
    padding-top: 10px;
}